/*
    This is default less file structure.
    Temove cf-test class and this comment before using.
*/

// // = Large devices/desktops (default)
// // ********************************************/
// .cf-test {
//     display: block;
//     width: 100vw;
//     height: 100vh;
//     background: red;
//     content: 'DEFAULT'
// }

// // = // Small Desctop screen / wide notebook
// // ********************************************/
// @media screen and (max-width: @screen-slg-max) {
//     .cf-test {
//         background: blue;
//         content: 'Medium devices/desktops'
//     }
// }

// // = Medium devices/desktops:
// // ********************************************/
// @media screen and (max-width: @screen-md-max) {
//     .cf-test {
//         background: yellow;
//         content: 'Medium devices/desktops'
//     }
// }

// // = Small devices/Tablets
// // ********************************************/
// @media screen and (max-width: @screen-sm-max) {
//     .cf-test {
//         background: grey;
//         content: 'Small devices/Tablets'
//     }
// }

// // = Extra small devices/phones:
// // ********************************************/
// @media screen and (max-width: @screen-xs-max) {
//     .cf-test {
//         background: purple;
//         content: 'Extra small devices/phones'
//     }
// }