@font-face {
    font-family: 'Nanami Book';
    src: url("../fonts/Nanami/Nanami-Book/Nanami-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami/Nanami-Book/Nanami-Book.otf") format("opentype"), url("../fonts/Nanami/Nanami-Book/Nanami-Book.woff") format("woff"), url("../fonts/Nanami/Nanami-Book/Nanami-Book.ttf") format("truetype"), url("../fonts/Nanami/Nanami-Book/Nanami-Book.svg#Nanami-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanami Light';
    src: url('../fonts/Nanami/Nanami-Light/nanami-light-webfont.woff2') format('woff2'),
         url('../fonts/Nanami/Nanami-Light/nanami-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanami ExtraLight';
    src: url('../fonts/Nanami/Nanami-ExtraLight/Nanami-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Nanami/Nanami-ExtraLight/Nanami-ExtraLight.otf')  format('opentype'),
    url('../fonts/Nanami/Nanami-ExtraLight/Nanami-ExtraLight.woff') format('woff'), url('../fonts/Nanami/Nanami-ExtraLight/Nanami-ExtraLight.ttf')  format('truetype'), url('../fonts/Nanami/Nanami-ExtraLight/Nanami-ExtraLight.svg#Nanami-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanami Bold';
    src: url('../fonts/Nanami/Nanami-Bold/Nanami-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Nanami/Nanami-Bold/Nanami-Bold.otf')  format('opentype'),
    url('../fonts/Nanami/Nanami-Bold/Nanami-Bold.woff') format('woff'), url('../fonts/Nanami/Nanami-Bold/Nanami-Bold.ttf')  format('truetype'), url('../fonts/Nanami/Nanami-Bold/Nanami-Bold.svg#Nanami-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}