@import 'variables.less';

// applies styling for any input elements' placeholder
.cfmxn-input-placeholder (@content) {
    &::-webkit-input-placeholder {
        @content();
    }
    &:-moz-placeholder { /* Firefox 18- */
        @content();
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        @content();
    }
    &:-ms-input-placeholder {
        @content();
    }
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transition-property(@transition-property) {
  -webkit-transition-property: @transition-property;
          transition-property: @transition-property;
}
.transition-delay(@transition-delay) {
  -webkit-transition-delay: @transition-delay;
          transition-delay: @transition-delay;
}
.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
          transition-duration: @transition-duration;
}
.transition-timing-function(@timing-function) {
  -webkit-transition-timing-function: @timing-function;
          transition-timing-function: @timing-function;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}

.transform(@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}

.content-columns(@column-count) {
  -webkit-column-count: @column-count;
  -moz-column-count: @column-count;
  column-count: @column-count;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}

// Mixin for Chevrone
.generate-chevron( @title-font-size, @title-line-height, @title-padding-top, @title-padding-right, @title-padding-left, @figure-bg) {
    @title-height: @title-line-height + @title-padding-top*2;
    .cf-panel-chevron-title {
        padding: @title-padding-top @title-padding-right @title-padding-top @title-padding-left;
        color: @cf-white;
        line-height: @title-line-height;
        position: relative;
        font-size: @title-font-size;
        font-family: @font-primary-extra-bold;
        float: right;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        background-color: @figure-bg;
    }

    .cf-panel-chevron-header {
      line-height: @title-line-height;
      vertical-align: middle;
    }

    .cf-panel-chevron-figure {
        position: absolute;
        left: -@title-height/2;
        width: @title-height/2;
        height: @title-height;
        top: 0;
        color: @figure-bg;
        &:after,
        &:before {
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            content: '';
        }
        &:before {
            top: 0;
            border-style: solid;
            border-width: 0 @title-height/2 @title-height/2 0;
            border-color: transparent currentColor transparent transparent;
        }
        &:after {
            bottom: 0;
            border-style: solid;
            border-width: 0 0 @title-height/2 @title-height/2;
            border-color: transparent transparent currentColor transparent;
        }
    }
}