/*** CURE FORWARD brand colors ***/


@cf-primary-color: #00E575;
@cf-primary-action: #418aff;

@cf-brand-primary: #870C4F;
@cf-primary-green: #028548;
@cf-activation-logo: #00E575;
@cf-accent-yellow: #FFB200;
@cf-accent-magenta: #E41E60;
@cf-orange: #ff8212;
@cf-hyperlink-blue: #1E67DC;
@cf-default-text: #232323;
@cf-medium-grey-1: #767676;
@cf-medium-grey-2: #474645;
@cf-light-grey-1: #EFEFEF;
@cf-light-grey-2: #DDDDDD;
@cf-light-grey-3: #9e9c9c;
@cf-white: #FFFFFF;
@cf-black: #000000;
@cf-purple: #3E244D;
@cf-trial-bg:#354660;
//*** SOME LIGHTEN COLORS 10% ***
@cf-brand-primary-light: lighten(@cf-brand-primary, 10%);
@cf-primary-green-light: lighten(@cf-primary-green, 10%);
@cf-activation-logo-light: lighten(@cf-activation-logo, 10%);
@cf-accent-yellow-light: lighten(@cf-accent-yellow, 10%);
@cf-accent-magenta-light: lighten(@cf-accent-magenta, 10%);
@cf-hyperlink-blue-light: lighten(@cf-hyperlink-blue, 10%);
@cf-medium-grey-1-light: lighten(@cf-medium-grey-1, 10%);
@cf-medium-grey-2-light: lighten(@cf-medium-grey-2, 10%);
@cf-light-grey-1-light: lighten(@cf-light-grey-1, 10%);
@cf-light-grey-2-light: lighten(@cf-light-grey-2, 10%);
//*** SOME LIGHTEN COLORS 20% ***
@cf-brand-primary-xlight: lighten(@cf-brand-primary, 20%);
@cf-primary-green-xlight: lighten(@cf-primary-green, 20%);
@cf-activation-logo-xlight: lighten(@cf-activation-logo, 20%);
@cf-accent-yellow-xlight: lighten(@cf-accent-yellow, 20%);
@cf-accent-magenta-xlight: lighten(@cf-accent-magenta, 20%);
@cf-hyperlink-blue-xlight: lighten(@cf-hyperlink-blue, 20%);
@cf-medium-grey-1-xlight: lighten(@cf-medium-grey-1, 20%);
@cf-medium-grey-2-xlight: lighten(@cf-medium-grey-2, 20%);
@cf-light-grey-1-xlight: lighten(@cf-light-grey-1, 20%);
@cf-light-grey-2-xlight: lighten(@cf-light-grey-2, 20%);

/*** CURE FORWARD brand colors ***/
@cf-black: #000;
@cf-dark-grey: #1e1e1e;
@cf-magenta: #870c4f;
@cf-orange: #ff8212;
@cf-green: #6fbf20;
@cf-blue: #2c7af8;
@cf-text: #323232;
@cf-lighter-grey-02: #f0f0f0;
@cf-lighter-grey: #fafafa;
@cf-light-grey-02: #e5e5e5;
@cf-light-grey: #eeeeee;
@cf-mid-grey: #cacaca;
@cf-dark-grey: #5b5b5b;
@cf-grey: #858585;
@cf-white: #fff;
@cf-smooth-red: #de5741;
@cf-error-red: #e50000;
@cf-light-red: #db9fa5;
@cf-lighter-red: #f6e9e9;
@cf-red-pale: #d65d7a;
@cf-bg: #f2f2f2;
@cd-easy-gray: #dfdfdf;
@cd-medium-gray: #b1b0b0;

@cf-magenta-hover: #a51262;
@cf-orange-hover: #ffa421;
@cf-blue-hover: #448cff;

@cf-magenta-dark: #5d143a;
@cf-orange-dark: #b04a08;
@cf-blue-dark: #203960;

@cf-pink: #e81e63;


/******************
    Media queries breakpoints
******************/

// Extra small screen / phone
@screen-xs: 487px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 768px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 992px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;

// Small Desctop screen / wide notebook
@screen-slg: 1600px;
@screen-slg-min: @screen-slg;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@screen-slg-max: (@screen-slg-min - 1);

// Animations
@cf-transition-time: 0.15s;
@cf-transition-timing-function: ease-in-out;

/******************
    TYPOGRAPHY
******************/
@font-primary: 'Nanami Light', Helvetica, Arial;
@font-primary-bold: 'Nanami Book', Helvetica, Arial;
@font-primary-extra-bold: 'Nanami Bold', Helvetica, Arial;
@font-primary-light: 'Nanami ExtraLight', Helvetica, Arial;


/******************
    SIZES
******************/
// Header
@headerHeight: 56px;

// Sidebar Nav
@cf-nav-width: 50px;
@cf-nav-open-width: 222px;

// Footer
@cf-footer-height: 234px;
@cf-footer-md-height: 278px;


// Nav colors
@cf-nav-color-active: @cf-primary-color;
@cf-nav-color-secondary: #373737;
@cf-nav-color-dark: #434343;