article {
    margin:  0 0 30px 0;
    h2,
    h3,
    h4 {
        margin: 0 0 20px 0;
    }
    h4 {
        padding: 0;
    }
    p {
        margin: 0 0 20px;
        font-family: @font-primary;
    }
    ul {
        li {
            font-size: 18px;
        }
    }
    &.cf-bg-accent-yellow,
    &.cf-bg-brand-primary {
        padding: 30px;
    }
    .cf-article-footer {
        margin-top: 30px;
        margin-left: -13px;
        margin-right: -13px;
        .cf-btn {
            margin-left: 13px;
            margin-right: 13px;
        }
    }
    &[class^="cf-bg-"] {
        &.cf-bg-full-width{
            margin-left: -50px;
            margin-right: -50px;
            padding: 30px 50px;
        }
    }
    &.article-list-item {
        padding: 0 50px 30px 50px;
        margin-left: -50px;
        margin-right: -50px;
        border-bottom: 2px solid @cf-light-grey;
        &:last-child {
            border-bottom: none;
        }
        img {
            max-height: 60px;
            max-width: 50%;
            margin-bottom: 30px;
        }
    }
    .article-block-item {
        padding: 20px;
        margin: 30px 0;
        overflow: hidden;
    }
    &.article-block-transparent {
        padding: 30px 50px;
        background-color: @cf-light-grey;
        margin: 0 -50px;
        clear: both;
        overflow: hidden;
        .cf-article-numbered {
            .cf-round-num {
                border-color: @cf-light-grey;
            }
        }
    }
    &.cf-article-border-top {
        border-top: 1px solid @cf-light-grey;
        padding-top: 20px;
    }
    .cf-article-numbered {
        counter-reset: cf_article_counter;
        .row {
            position: relative;
            &::before {
                position: absolute;
                border-left: 1px solid @cf-light-grey;
                height: 100%;
                display: block;
                content: '';
                left: 32px;
                bottom: -30px;
            }
            &:last-child {
                &:before {
                    border: none;
                }
            }
        }
        .cf-body-copy{
            overflow: hidden;
        }
        p {
            margin-top: 3px;
        }
        .cf-round-num {
            float: left;
            display: inline-block;
            height: 35px;
            line-height: 27px;
            width: 35px;
            position: relative;
            top: -4px;
            margin-right: 25px;
            color: @cf-white;
            font-size: 12px;
            border: 5px solid @cf-white;
            font-weight: bold;
            text-align: center;
            -webkit-border-radius: 50% 50% 50% 50%;
            border-radius: 50% 50% 50% 50%;
            &:before{
                // counter-increment: cf_article_counter;
                content: counter(cf_article_counter);
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                margin: -14px 0;
                left: 0;
            }
        }
    }
}


// = Extra small devices/phones:
// ********************************************/
@media only screen and (max-width: @screen-xs-max) {
    article {
        .btn {
            margin-bottom: 20px;
        }
        ul {
            li {
                font-size: 16px;
            }
        }
        /*** color blocks responsive ***/
        &[class^="cf-bg-"] {
            padding: 30px;
        }
        .cf-article-footer {
            .cf-btn {
                margin: 0 0 15px;
            }
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
        .article-block-transparent {
            text-align: center;
            margin: 0 -30px;
            padding: 30px;
            p {
                padding-bottom: 15px;
            }
        }
        &.cf-article-border-top {
            border-top: 1px solid @cf-light-grey;
            padding-top: 20px;
            h3 {
                margin: 0;
            }
        }
        article {
            .cf-article-numbered {
                .row {
                    position: relative;
                    margin-bottom: 20px;
                    &::before {
                        display: none;
                        visibility: hidden;
                    }
                }
                p {
                    margin-top: 5px;
                }
                .cf-round-num {
                    margin-right: 10px;
                }
            }
        }
    }
}