.cf-badge {
    display: inline-block;
    margin: auto;
    padding: 6px 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 0;
    color: @cf-white;
    background-color: @cf-medium-grey-1;
    border-color: @cf-light-grey-1;
    &.cf-badge-negative {
        color: @cf-white;
        background-color: @cf-accent-magenta;
        border-color: @cf-accent-magenta;
    }
    &.cf-badge-closeable {
        padding: 6px 26px 6px 16px;
        position: relative;
        a {
            position: absolute;
            top: 3px;
            right: 3px;
            border-radius: 20px;
            padding: 1px;
            text-decoration: none;
            background: @cf-white url("../img/icons/CF_close.svg") center center no-repeat;
            background-size: 63%;
            width: 18px;
            height: 18px;
        }
    }
}
