.cf-banner {
    background-size: cover;
    background-color: transparent;
    background-position: 60% 10%;
    background-repeat: no-repeat;
    padding: 0 50px;
    .cf-banner-vertical {
        display: table;
        height: 520px;
        width: 100%;
        margin: 0;
        padding: 0;
        h1 {
            font-size: 45;
            padding: 0 0 30px;
        }
        h3 {
            margin: 0;
        }
        .btn {
            margin: 15px 0 0 0;
        }
    }
    .cf-banner-content {
        display: table-cell;
        width: 100%;
        padding-top: 70px;
        vertical-align: middle;
        text-align: center;
    }
}


// = Small devices/Tablets
// ********************************************/
@media only screen and (max-width: @screen-md-max) {
    .cf-banner {
        .cf-banner-vertical {
            height: 470px;
        }
    }
}

// = Extra small devices/phones:
// ********************************************/
@media only screen and (max-width: @screen-xs-max) {
    .cf-banner {
        background: @cf-primary-color !important;
        margin-top: 55px;
        padding: 30px;
        .cf-banner-vertical {
            height: auto;
            h1 {
                padding: 0 0 15px;
                font-size: 30px;
            }
        }
        .cf-banner-content {
            padding-top: 0px;
        }
    }
    .cf-banner-inside {
        padding: 30px;
        margin: 0 -30px 30px -30px;
    }
}
