.cf-breadcrumbs {
    font-size: 20px;
    line-height: 26px;
    display: block;
    padding: @headerHeight 30px 0;
    margin: 0;
    list-style: none;
    background-color: @cf-mid-grey;
    color: @cf-black;
    .cf-breadcrumb-divider {
        display: inline-block;
        margin: 0 5px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 38px;
        .clearfix;
        li {
            float: left;
            span,
            a {
                vertical-align: middle;
                font-size: 18px;
                line-height: 21px;
                text-decoration: none;
                font-family: @font-primary-bold;
                color: @cf-default-text;
            }
        }
    }
}


/* Extra small devices/phones: */
@media screen and (max-width: @screen-xs-max) {
    .cf-breadcrumbs {
        font-size: 16px;
    }
}
