// New btn styles
@cf-btn-lg-border-radius: 8px;
@cf-dahsboard-pink: #e81e63;
@cf-dahsboard-dark: #626262;
.cf-btn {
    .btn;
    color: #ffffff;
    text-shadow: none;
    margin: 0 0 20px 0;
    padding: 7px 16px;
    font-family: @font-primary;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.06em;
    .transition(background-color @cf-transition-time @cf-transition-timing-function, border @cf-transition-time @cf-transition-timing-function, box-shadow @cf-transition-time @cf-transition-timing-function, color @cf-transition-time @cf-transition-timing-function;);
    &.cf-btn-lg {
        .btn-lg;
    }

    // Buttons sizes
    // Small button
    &.cf-btn-sm {
        padding: 5px 12px;
        margin-bottom: 0;
        font-size: 13px;
    }

    // Large button
    &.cf-btn-lg {
        font-size: 24px;
        padding: 10px 50px;
        .border-radius(@cf-btn-lg-border-radius);
    }
    &.cf-btn-dark {
        background-color: @cf-dahsboard-dark;
        color: @cf-white;
        &:hover {
            background-color: darken(@cf-dahsboard-dark, 5%);
            color: @cf-white;
        }
    }
    &.cf-btn-primary {
        background-color: @cf-dahsboard-pink;
        &:hover {
            background-color: darken(@cf-dahsboard-pink, 5%);
        }
    }

    // Disable state
    &.cf-btn-disabled {
        color: #fff !important;
        background-color: @cf-mid-grey !important;
        &:hover,
        &:focus {
            color: #fff;
            background-color: @cf-mid-grey;
        }
    }
    &.cf-btn-primary {
        background-color: @cf-primary-color;
        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(@cf-primary-color, 10%);
        }
        // Disabled state
        &[disabled] {
            color: #fff;
            background-color: @cf-primary-color;
        }
    }
    &.cf-btn-action {
        background-color: @cf-primary-action;
        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(@cf-primary-action, 10%);
        }
        // Disabled state
        &[disabled] {
            color: #fff;
            background-color: @cf-primary-action;
        }
    }
    &.cf-btn-secondary {
        background-color: @cf-mid-grey;
        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(@cf-mid-grey, 10%);
        }
        // Disabled state
        &[disabled] {
            color: #fff;
            background-color: @cf-mid-grey;
        }
    }
    &.cf-btn-negative {
        background-color: @cf-red-pale;
        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(@cf-red-pale, 10%);
        }
        // Disabled state
        &[disabled] {
            color: #fff;
            background-color: @cf-red-pale;
        }
    }
    &.cf-btn-outline {
        border-color: @cd-medium-gray;
        color: @cd-medium-gray;
        background-color: @cf-white;
        &:hover {
            background-color: @cd-medium-gray;
            color: @cf-white;
            border-color: @cd-medium-gray;
        }
        // Disabled state
        &[disabled] {
            border-color: @cd-medium-gray;
            color: @cd-medium-gray;
            background-color: @cf-white;
        }

        &.cf-btn-outline-primary {
            border-color:@cf-primary-color;
            color: @cf-primary-color;
            background-color: @cf-white;
            &:hover {
                border-color:@cf-primary-color;
                color: @cf-white;
                background-color: @cf-primary-color;
            }
            // Disabled state
            &[disabled] {
                border-color:@cf-primary-color;
                color: @cf-primary-color;
                background-color: @cf-white;
            }
        }
    }
    small,
    .small {
        text-transform: none;
    }
}


// Circle buttons
.cf-btn-circle {
    .border-radius(50%);
    border: 1px solid @cf-primary-action;
    outline: none;
    color: @cf-primary-action;
    padding: 4px 4px;
    width: 30px;
    height: 30px;
    line-height: 16px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    .transition(color .2s ease, border-color .2s ease;);
    &:hover {
        border-color: darken(@cf-primary-action, 20%);
        color: darken(@cf-primary-action, 20%);
    }

    // Colors
    &.cf-btn-primary {
        color: @cf-primary-color;
        border-color: @cf-primary-color;
        &:hover {
            border-color: darken(@cf-primary-color, 10%);
            color: darken(@cf-primary-color, 10%);
        }
    }
    &.cf-btn-secondary {
        color: @cf-mid-grey;
        border-color: @cf-mid-grey;
        &:hover {
            border-color: darken(@cf-mid-grey, 10%);
            color: darken(@cf-mid-grey, 10%);
        }
    }
    &.cf-btn-negative {
        color: @cf-red-pale;
        border-color: @cf-red-pale;
        &:hover {
            border-color: darken(@cf-red-pale, 10%);
            color: darken(@cf-red-pale, 10%);
        }
    }

    &.cf-btn-sm {
        width: 22px;
        height: 22px;
        line-height: 10px;
        font-size: 10px;
    }

    &.cf-btn-lg {
        width: 40px;
        height: 40px;
        line-height: 20px;
        font-size: 20px;
    }

}