// Bootstrap dropdown
.cf-dropdown-wrapper {
    width: 100%;
    position: relative;
    background-color: transparent;
    &.cf-typehead {
        &:after {
            display: none;
            visibility: hidden;
        }
    }
    &.open {
        &:after {
            visibility: hidden;
        }
    }
    &:after {
        border-color: @cf-grey transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        right: 0;
        margin: -2px 8px;
        position: absolute;
        top: 50%;
        width: 0;
        content: '';
    }
    .cf-dropdown-value-default {
        color: @cf-dark-grey;
        opacity: 0.5;
    }
    // TODO: try to find better solution to Capitalized text
    .cf-dropdown-value {
        text-transform: lowercase;
        display: inline-block;
        &:first-letter {
            text-transform: uppercase;
        }
    }
    & > .cf-input {
        width: 100%;
        text-decoration: none;
        display: block;
        line-height: 1.7;
        &:hover {
            text-decoration: none;
        }
    }
    .dropdown-menu,
    .cf-dropdown-menu {
        width: 100%;
        border-color: @cf-mid-grey;
        margin: -1px 0;
        padding: 0;
        border-top: 0;
        .border-radius(0);
        .box-shadow(none);
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        & > li {
            &.active {
                & > a {
                    background-color: @cf-primary-color;
                    color: @cf-white;
                }
            }
        }

        & > li {
            & > a {
                font-size: 14px;
                line-height: 18px;
                padding: 11px 14px;
                min-height: 40px;
                text-overflow: ellipsis;
                color: @cf-grey;
                border-top: 1px solid @cf-mid-grey;
                &:hover {
                    background-color: @cf-primary-color;
                    color: @cf-white;
                }
            }
        }
    }
}