@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?74983334');
  src: url('../fonts/fontello/fontello.eot?74983334#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?74983334') format('woff2'),
       url('../fonts/fontello/fontello.woff?74983334') format('woff'),
       url('../fonts/fontello/fontello.ttf?74983334') format('truetype'),
       url('../fonts/fontello/fontello.svg?74983334#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.svg?74983334#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-systemuser:before { content: '\e805'; } /* '' */
.icon-assign-patient:before { content: '\e809'; } /* '' */
.icon-create-user:before { content: '\e80a'; } /* '' */
.icon-dashboard:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-patient-info:before { content: '\e80e'; } /* '' */
.icon-resources:before { content: '\e80f'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */