.cf-footer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 15px;
    p {
        color: @cf-grey;
        font-family: @font-primary;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }
    .cf-footer-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0 2rem 0 0 ;
            li {
                display: inline-block;
                a {
                    font-size: 0.8rem;
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                    display: inline-block;
                    color: @cf-grey;
                }
            }
        }
    }
}


// = Small devices/Tablets
// ********************************************/
@media screen and (max-width: @screen-sm-max) {
    footer {
        text-align: center;
        .cf-footer-links {
            ul {
                padding: 0;
                li padding: display: block;
            }
        }
    }
}