.cf-form-line {
    margin-top: 0px;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    & > div.col-xs-12 {
        margin-bottom: 0;
    }
    .cf-floatinglabel {
        font-family: @font-primary;
        color: @cf-primary-color;
        display: block;
        margin-top: -10px;
    }
    &.cf-form-line-agree-inputs {
        &,
        a,
        label {
            font-size: 0.8rem;
            font-weight: normal;
            font-family: @font-primary;
        }
    }
    .cf-field-placeholder {
        color: @cf-mid-grey;
        top: 3px!important;
        right: 30px!important;
        &:hover {
            color: @cf-grey;
        }
    }
}

.cf-input {
    &[readonly],
    &.cf-read-only {
        box-shadow: none;
        background-color: @cf-light-grey;
        opacity: 0.7;
    }
}

.cf-read-only {
    pointer-events: none;
}

.cf-form-button-group {
    text-align: center;
    margin: 50px 0 50px 5%;
    width: 90%;
    .cf-btn {
        vertical-align: top;
    }
    .cf-btn:not(:last-child) {
        margin: 0 10px 0 0;
    }
}

.cf-form-value-error {
    font-size: 14px;
    font-weight: normal;
    font-family: @font-primary;
    color: @cf-error-red;
    display: block;
}

// Drop zone
.drop-box {
    padding: 20px 10px;
    border: 1px dashed #ccc;
    text-align: center;
    font-size: 12px;
    min-height: 125px;
}

// = Small devices/Tablets
// ********************************************/
@media screen and (max-width: @screen-sm-max) {
    .cf-form-line {
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .cf-form-line {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        & > div.col-xs-12 {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.cf-form-line-agree-inputs {
            &,
            a,
            label {
                font-size: 16px;
            }
        }
    }
    .cf-form-button-group {
        .cf-btn:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }
}
