html, body {
    font-size: 20px;

}
address {
    color: @cf-dark-grey;
    font-size: 0.7rem;
}
.cf-content-item {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: #232323;
}
.cf-main-container {
    margin: 0;
    padding: 0;
    &.cf-full-width {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
        & > .row {
            & > .col-lg-offset-1,
            & > .col-md-offset-1,
            & > .col-sm-offset-1 {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
            & > .col-lg-10,
            & > .col-md-10,
            & > .col-sm-10 {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
            .cf-content-outer-padding {
                padding: 0;
            }
        }
    }
    .cf-content-inner-padding {
        & + .cf-content-inner-padding{
            margin-top: 50px;
        }
    }
}
.cf-page-header {
    overflow: hidden;
    margin-bottom: 30px;
    h3 {
        padding-top: 15px;
        float: left;
    }
}
.cf-content-outer-padding {
    padding: 50px;
    background-color: @cf-white;
    &.cf-transparent-bg {
        background-color: transparent;
    }
}
.cf-content-button-padding {
    padding: 30px 0 0 0;
    text-align: center;
    display: block;
    margin: 0;
    clear: both;
}

// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .cf-main-container {
        margin: 0 -15px;
        padding: 0;
        overflow: hidden;
        .cf-content-inner-padding {
            & + .cf-content-inner-padding{
                margin-top: 20px;
            }
        }
    }
    .cf-content-outer-padding {
        padding: 30px;
    }
    .cf-content-inner-img {
        margin-top: 30px;
    }
}