// Container
.cf-container {
    width: 100%;
    max-width: @container-lg;
    .container-fixed();
}

// Fix when dahboard nav open
.cf-dashboard-nav-open {
    .cf-container {
        @media (min-width: @screen-lg-min) and (max-width: @screen-slg) {
            width: 100%;
            max-width: @container-lg;
        }
    }
}

// Full height columns
.cf-table-row {
    &.cf-lg {
        // > Small Desctop screen / wide notebook
        // ********************************************/
        @media screen and (min-width: @screen-lg) {
            width: 100%;
            height: 100%;
            display: table;
            & > [class*="col-"] {
                display: table-cell;
                float: none;
                height: 100%;
            }
            // Full height block
            .cf-col-inner {
                padding: 0;
                height: 100%;
            }
        }
    }
    &.cf-md {
        // > Small Desctop screen / wide notebook
        // ********************************************/
        @media screen and (min-width: @screen-md) {
            width: 100%;
            height: 100%;
            display: table;
            & > [class*="col-"] {
                display: table-cell;
                float: none;
                height: 100%;
            }

            // Full height block
            .cf-col-inner {
                padding: 0;
                height: 100%;
            }
        }
    }
}