.cf-logo {
  background-color: @cf-nav-color-secondary;
  padding: 0 11px 0 7px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
  border: 4px solid @cf-nav-color-secondary;
  margin: 0 20px 0 0;
  float: left;
}



.cf-body {
  .navbar {
    border: 0;
  }
}

.cf-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1111;
  width: 100%;
  font-family: @font-primary-light;
  border-bottom: 1px solid @cf-light-grey-2;
}

body .logo a {
  margin: 10px 0 10px 0;
  display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}