.cf-icon-arrow-down-o{
    position: absolute;
    bottom: 0;
    margin: 30px -20px;
    display: inline-block;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url("../img/icon_arrow_down_o.svg") no-repeat 50%;
    cursor: pointer;
    &.sm{
        width: 20px;
        height: 20px;
        margin: 30px -10px;
    }
    &.lg{
        width: 60px;
        height: 60px;
        margin: 30px -30px;
    }
}
.cf-icon-back-to-top {
    background: transparent url("../img/backToTopBtn.png") no-repeat 60% 50%;
    background-size: cover;
    position: fixed;
    z-index: 111;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    bottom: 0;
    right: 0;
    margin: 0 5px 25px;
}
.cf-icon-box{
    width: 75px;
    margin: 0 0 25px;
    &.sm{
        width: 50px;
    }
    &.lg{
        width: 100px;
    }
}

.cf-btn-add-item{
    font-family: @font-primary;
    position: static;
    width: auto;
    height: auto;
    font-size: 0.8rem;
    background: transparent url('../img/svg_icons/jf_plus_green.svg') 0 0 no-repeat;
    padding-left: 20px;
}
.cf-btn-remove-item {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: transparent url('../img/svg_icons/jf_reject.svg') 0 0 no-repeat;
    background-size: contain;
}

//styles for sort icons
.cf-sort-wrapper{
    position: absolute;
    list-style-type: none;
    display: inline-block;
    z-index: 1;
    margin: -4px 0;
    width: 20px;
    height: 32px;
    a {
        position: relative;
        font-size: 18px;
        height: 10px;
        line-height: 10px;
        width: 10px;
        display: block;
        color: @cf-medium-grey-1;
        &.active{
            color: @cf-default-text;
        }
        &:before{
            display: inline-block;
            height: 10px;
            margin: 0;
        }
        &:hover:not(.active) {
            cursor: pointer;
            color: @cf-primary-green;
            text-decoration: none;
        }
    }
    .fa-sort-asc,
    .fa-sort-desc {
        font-size: 18px;
        line-height: 16px;
        height: 16px;
        position: absolute;
        margin: 0;
        padding: 0;
        z-index: 2;
        width: 100%;
        left: 0;
        text-align: center;
        overflow: hidden;
        &:before {
            position: absolute;
            width: 100%;
            display: block;
            margin: -8px 0;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
        }
    }
    .fa-sort-desc {
        bottom: 0;
        &:before {
            top: 0;
            bottom: auto;
        }
    }
    .fa-sort-asc {
        top: 0;
        &:before {
            top: auto;
            bottom: 0;
        }
    }
}

// = Medium devices/desktops:
@media (max-width: @screen-md-max) {
    .cf-icon-arrow-down-o{
        margin: 10px -20px;
    }
    .cf-icon-back-to-top {
        width: 40px;
        height: 40px;
    }
}

// = Extra small devices/phones:
@media screen and (max-width: @screen-xs-max) {
    .cf-icon-back-to-top {
        width: 20px;
        height: 20px;
    }
}

// Sprites
.cf-svg-icon {
    background: url("../img/svg_icons/sprite.view.svg") no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.cf-svg-jf_arrow {
    background-position: 98.2% 64.52%;
    width: 25px;
    height: 25px;
}
.cf-svg-jf_arrow_green {
    background-position: 84.85% 64.52%;
    width: 25px;
    height: 25px;
}

.cf-svg-jf_arrow_up_green {
    background-position: 84.85% 93.55%;
    width: 25px;
    height: 25px;
}
.cf-svg-jf_female {
    background-position: 35.25% -11px;
    width: 44px;
    height: 44px;
}
.cf-svg-jf_female_green {
    background-position: 66.5% 0;
    width: 44px;
    height: 44px;
}
.cf-svg-jf_info {
    background-position: 69.92% 64.52%;
    width: 25px;
    height: 25px;
}
.cf-svg-jf_info_green {
    background-position: 56.57% 93.55%;
    width: 25px;
    height: 25px;
}
.cf-svg-jf_male {
    background-position: -9px 87%;
    width: 44px;
    height: 44px;
}
.cf-svg-jf_male_green {
    background-position: 34.25% 86%;
    width: 44px;
    height: 44px;
}
.cf-svg-jf_plus {
    background-position: 98.2% 93.55%;
    width: 25px;
    height: 25px;
}
.cf-svg-jf_plus_green {
    background-position: 56.57% 64.52%;
    width: 25px;
    height: 25px;
}
.cf-svg-jf_reject {
    background-position: 94.74% -11px;
    width: 52px;
    height: 54px;
}
.cf-svg-jf_reject_green {
    background-position: 0 0;
    width: 52px;
    height: 54px;
}

.cf-svg-icon-calendar{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/svg_icons/calendar-icon.svg") no-repeat;
    vertical-align: middle;
}

.cf-remove-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-image: url('../img/svg_icons/cf-remove-icon.svg');
    background-repeat: no-repeat;
}

.cf-btn-undo-delete {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: url(../img/svg_icons/undo_delete.svg) no-repeat;
    background-size: contain;
}

// State active icons
input {
    &:checked {
        & + label {
            .cf-svg-jf_arrow {
                background-position: 84.85% 64.52%;
                width: 25px;
                height: 25px;
            }
            .cf-svg-jf_female {
                background-position: 65.4% -11px;
                width: 52px;
                height: 54px;
            }
            .cf-svg-jf_info {
                background-position: 56.57% 93.55%;
                width: 25px;
                height: 25px;
            }
            .cf-svg-jf_male {
                background-position: 35% 87%;
                width: 52px;
                height: 54px;
            }
            .cf-svg-jf_plus {
                background-position: 56.57% 64.52%;
                width: 25px;
                height: 25px;
            }
            .cf-svg-jf_reject {
                background-position: -10px -11px;
                width: 52px;
                height: 54px;
            }
        }
    }
}

.cf-tooltip-icon {
    color: @cf-blue;
    &:hover, &:focus {
        color: @cf-blue-hover;
        cursor: pointer;
    }
}