.cf-form-control,
.cf-input {
    .border-radius(2px);
    border: 1px solid @cf-mid-grey;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    color: @cf-dark-grey;
    font-family: @font-primary-light;
    letter-spacing: 0.04em;
    .box-shadow(none);
    .transition(background-color @cf-transition-time @cf-transition-timing-function, border @cf-transition-time @cf-transition-timing-function, box-shadow @cf-transition-time @cf-transition-timing-function, color @cf-transition-time @cf-transition-timing-function;);
    &:hover,
    &:focus {
        .box-shadow(none);
    }
    &:hover:enabled {
        border-color: @cf-primary-color;
        outline: none;
    }
    &:focus:enabled {
        border-color: @cf-primary-color;
        outline: none;
    }
    &:disabled {
        opacity: .5;
        background: @cf-lighter-grey-02;
        border-color: @cf-mid-grey;
    }
}

.cf-select {
    .select2-selection--single {
        .border-radius(2px);
    }
}


textarea {
    &.cf-form-control {
        border-radius: 0.1rem;
        height: auto;
        border: solid @cf-mid-grey 0.05rem;
        padding: 0 0.45rem 0 0.45rem;
        font-size: 14px;
        width: 100%;
        color: @cf-dark-grey;
        font-family: @font-primary-light;
        letter-spacing: 0.04em;
    }
    // TODO: clean up
    border-radius: 0.1rem;
    height: auto;
    border: solid @cf-mid-grey 0.05rem;
    padding: 0 0.45rem 0 0.45rem;
    font-size: 14px;
    width: 100%;
    color: @cf-dark-grey;
    font-family: @font-primary-light;
    letter-spacing: 0.04em;
}

dropdown {
    display: block;
}

.cf-input-group {
    vertical-align: top;
    margin: 0 0 10px;
    // TODO: remove fix below
    p {
        margin-bottom: -0.1rem;
    }
    p:last-child {
        margin-bottom: -0.25rem;
    }
    .error-message{
        display: none;
    }
    .label {
        display: block;
        color: @cf-text;
        margin: 5px 0 0;
        padding-left: 0;
        font-weight: normal;
        font-size: 14px;
        text-align: left;
        font-family: @font-primary-light;
        letter-spacing: 0.04em;
    }
    &.required {
        .asterisk {color: @cf-smooth-red;}
    }
    &.error {
        .label  {
            color: @cf-error-red;
        }
        .error-message {
            display: block;
            color: @cf-error-red;
            font-size: 14px;
            margin: 3px 0;
            font-family: @font-primary-light;
            text-align: left;
        }
        .cf-form-control {
            border: 1px solid @cf-light-red;
            background: @cf-lighter-red;
            color: @cf-error-red;
            &:hover {
                background-color: #fff;
                color: @cf-dark-grey;
                border-color: @cf-primary-color;
            }
        }
        input.cf-input{
            border: 1px solid @cf-error-red;
        }
    }
}
.cf-gender-placeholder {
    color: @cf-grey;
    font-size: 0.8rem!important;
    top: 3px!important;
    left: 25px!important;
}

.cf-button-group {
    margin: 0 0 15px 0;
}


// Custom radio button
.cf-input-radio-wrapper {
    position: relative;
    display: inline-block;
    margin: 0 10px 5px 0;
    vertical-align: top;
    overflow: hidden;
    &  > input[type=radio] {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        margin: -20px;
        &:checked + label {
            &:after {
                display: block;
                visibility: visible;
                .transform(scale(1));
            }
            &:hover {
                & + .cf-label {
                  &:before {
                    border-color: @cf-mid-grey;
                  }
                }
            }
        }
        &:hover,
        &:focus {
            & + .cf-label {
                &:before {
                    border-color: @cf-activation-logo;
                }
            }
        }
    }
    &  > label {
        position: relative;
        padding-left: 25px;
        line-height: 1.2;
        &:after {
            width: 8px;
            height: 8px;
            background-color: @cf-grey;
            left: 0;
            top: 0;
            content: '';
            visibility: hidden;
            margin: 5px 4px;
            .transform(scale(0));
            .transition(transform 0.2s @cf-transition-timing-function);
            .border-radius(50%);
            position: absolute;
        }
        &:before {
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: @cf-white;
            margin: 1px 0;
            .border-radius(50%);
            content: '';
            border: 1px solid @cf-mid-grey;
            left: 0;
            top: 0;
        }
    }
}

.cf-jf-radio-wrapper {
    height: 35px;
    position: relative;
    margin-left: 80px;
    z-index: 1;
    input {
        margin-left: 30px;
        display: none;
        & + label {
            display: inline-block;
            &.cf-radio-icon {
                cursor: pointer;
                width: 33px;
                height: 33px;
                margin: auto;
                vertical-align: middle;
                & > span {
                    height: 33px;
                    width: 33px;
                }
            }
        }
    }
}

textarea.cf-input {
    height: 120px;
    padding: 10px;
    resize: vertical;
    &:focus,
    &:active,
    &:focus:active {
        outline: none;
        .box-shadow(none;);
    }
}
.cf-checkbox {
    font-family: @font-primary;
    font-size: 14px;
    height: auto;
    input[type=checkbox], input[type=radio] {
        height: 10px;
        width: 10px;
    }
}
input[type=radio], input[type=radio]:focus {
    .box-shadow(none;);
    height: auto;
}


label.cf-checkbox {
    font-weight: normal;
    &.center-block {
        display: block !important;
    }
    &:hover {
        cursor: default;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + span {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid @cf-grey;
        border-radius: 2px;
        margin: auto;
        background-color: @cf-white;
        transform: translateY(2px);
        .transition(all 0.15s linear);
        &:hover,
        &:focus {
            background-color: @cf-grey;
        }
    }
    input[type="checkbox"]:checked + span {
        border: 0;
        background-color: @cf-primary-color;
        &:after {
            content: '';
            display: block;
            width: 11px;
            height: 6px;
            background: transparent;
            position: relative;
            top: 3px;
            left: 2px;
            border: 2px solid @cf-white;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    input[type="checkbox"][disabled] + span:hover {
        background-color: @cf-white;
        cursor: default;
    }
    input[type="checkbox"][disabled]:checked + span:hover {
        background-color: @cf-primary-color;
    }
}

.select2-container--default {
  &.select2-container--open.select2-container--below {
    .select2-selection--single,
    .select2-selection--multiple {
      border-bottom: 1px solid @cf-mid-grey;
    }
  }
}