.cf-circled-edit-btn {
  position: absolute;
  top: 25%;
  right: 15px;
  background-color: @cf-white;
  color: @cf-primary-action;
  border-radius: 50%;
  border: 1px solid @cf-primary-action;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  transition: all .5s;
  &:hover {
    color: @cf-white;
    background-color: @cf-primary-action;
  }
}

.cf-data-block {
  position: relative;
  &.cf-updated-style {
    border-radius: 0;
    &.edit-mode {
      margin-bottom: 70px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.45);
    }
    .cf-data-block-title{
      height: 48px;
      padding: 0 15px;
      line-height: 48px;
      margin-bottom: 0;
    }
    .cf-data-block-content {
      padding: 0 0 25px;
      .cf-data-block-item {
        border-radius: 0;
      }
    }
    @media screen and (max-width: @screen-xs-max) {
      .cf-data-block-content {
        padding: 0 0 10px;
      }
    }
  }
  .cf-data-block-content {
    padding: 25px 15px;
    .cf-list-header {
      min-height: 48px;
      border-bottom: 1px solid @cf-light-grey-1;
      h5 {
        font-family: @font-primary-bold;
        font-weight: 400;
        font-size: 16px;
        color: @cf-grey;
        text-transform: uppercase;
        line-height: 1;
        margin: 16px 0 15px;
      }
    }
    .cf-data-block-item {
      padding: 10px 0;
      border-radius: 5px;
      min-height: 48px;
      &:nth-child(even) {
        background-color: @cf-light-grey-1;
      }
      & > div {
        line-height: 28px;
        word-wrap: break-word;
      }
    }
    .cf-component-btn-wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: @cf-white;
      padding: 10px;
      box-shadow: 0 5px 5px 2px rgba(0, 0, 0, .45);
      button {
        margin: 0;
      }
    }
  }
}