@cf-light-gray-pagination: #b1b0b0;
.cf-pagination {
  .clearfix;
  list-style: none;
  & > li {
    float: left;
    a {
      display: block;
    }
  }
  &.pagination-sm{
    & > li {
      &.pagination-first,
      &.pagination-last {
        & > a {
          width: 20px;
          color: @cf-light-gray-pagination;
          position: relative;
          color: transparent !important;
        }
      }
      &.pagination-next,
      &.pagination-prev {
        & > a {
          font-size: 24px;
          padding: 1px 6px 1px;
          line-height: 18px;
          color: #b1b0b0;
        }
      }
      & > a{
        font-family: @font-primary-light;
        font-size: 12px;
        background-color: transparent;
        color: @cf-text;
        cursor: pointer;
        padding: 1px 6px;
        &:hover {
          color: @cf-primary-action;
        }
      }
      &.active {
        & > a{
          color: @cf-white;
          background-color: @cf-primary-action;
          border-color: @cf-primary-action;
        }
      }

      // First arrow
      &.pagination-first {
        & > a {
          &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 6px 5px 0;
            border-color: transparent @cf-light-gray-pagination transparent transparent;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px -3px;
            content: '';
          }
        }
        // Disabled state
        &.disabled {
          &:hover {
            & > a {
              &:before {
                border-color: transparent @cf-light-gray-pagination transparent transparent;
              }
            }
          }
        }
        // Active state
        &:hover {
          & > a {
            &:before {
              border-color: transparent @cf-primary-action transparent transparent;
            }
          }
        }
        &.active {
          & > a {
            &:before {
              border-color: transparent @cf-primary-action transparent transparent;
            }
          }
        }
      }

      // Last arrow
      &.pagination-last {
        & > a {
          &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 6px;
            border-color: transparent transparent transparent  @cf-light-gray-pagination;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px -3px;
            content: '';
          }
        }
        // Disabled state
        &.disabled {
          &:hover {
            & > a {
              &:before {
                border-color: transparent transparent transparent  @cf-light-gray-pagination;
              }
            }
          }
        }
        // Active state
        &:hover {
          & > a {
            &:before {
              border-color: transparent transparent transparent  @cf-primary-action;
            }
          }
        }
        &.active {
          & > a {
            &:before {
              border-color: transparent transparent transparent  @cf-primary-action;
            }
          }
        }
      }

    }
  }
  .cf-dropdown-wrapper{
    position: relative;
  }
}