@cf-panel-border-radius: 8px;
.cf-panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0 15px;
    margin: 0 0 15px;
    &.cf-panel-primary {
        border: 1px solid @cf-light-grey-02;
        border-radius: @cf-panel-border-radius;
        padding: 0 20px 20px;
        margin: 0 0 30px 0;
        .cf-panel-title{
            font-size: 18px;
            font-family: @font-primary;
            margin: -1px -22px 20px; //fix parrent border color for panel title
            padding: 12px 20px;
            background-color: @cf-dark-grey;
            color: @cf-white;
            border-radius: @cf-panel-border-radius @cf-panel-border-radius 0 0;
            border: 1px solid @cf-light-grey-02;
        }
    }

    .panel-heading, .panel-footer {
        background: none;
        padding: 0;
        border: 0;
        .panel-title {
            margin: 0;
            h1, h2, h3, h4, h5, h6 {
                margin: 0;
            }
        }
    }
    .panel-body {
        padding: 15px 0 0;
    }
}

.cf-panel-array {
    margin-bottom: 30px;
    .cf-panel-border {
        display: none;
    }
    .cf-panel-array-footer {
        margin-top: 15px;
        .cf-body-copy + .cf-btn {
            margin-left: 15px;
        }
        h4{
            margin-bottom: 15px;
        }
    }
}


// Patient Profile page default block
.cf-data-block {
    background-color: @cf-white;
    margin: 10px auto;
    border-radius: 4px;
    .cf-data-block-title {
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1;
        border-bottom: 1px solid @cf-mid-grey;
        padding: 15px;
        font-family: @font-primary-bold;
        letter-spacing: 0.04em;
    }
    .cf-data-row {
        margin-bottom: 10px;
        label,
        .cf-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
            font-family: @font-primary;
            & > span {
                line-height: 1.42857143;
                display: inline-block;
            }
        }
    }
    .cf-button-group {
        .cf-btn {
            & + .cf-btn {
                margin-left: 10px;
            }
        }
    }
    .cf-panel {
        padding: 0 0 30px 0;
        margin: 0 0 30px 0;
        &:not(:last-child) {
          border-bottom: 1px solid @cf-light-grey-2;
        }
        .cf-panel-title {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .cf-text {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}

// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .cf-panel-array {
        .cf-panel {
            padding: 15px;
            margin: 0;
        }
        .cf-panel:not(:first-child):not(.cf-panel-array-footer) {
            border-width: 2px 0 0;
        }
        .cf-panel-border {
            display: block;
        }
    }
    // Patient Profile page default block
    .cf-data-block {
        input, dropdown {
            max-width: 360px;
            margin: auto;
            display: block;
        }
    }
    .cf-profile-locations {
        .cf-location-dropdown {
            padding-bottom: 15px;
        }
    }
}

// Chevron panel
@cf-chevron-title-font-size: 24px;
@cf-chevron-title-line-height: 24px;
@cf-chevron-title-height: @cf-chevron-title-line-height + @cf-chevron-title-padding-top*2;

// Padding title
@cf-chevron-title-padding-top: 10px;
@cf-chevron-title-padding-right: 18px;
@cf-chevron-title-padding-left: 20px;

// Colors
@cf-chevron-figure-bg: @cf-primary-color;
@cf-chevron-text: #757575;

.cf-panel-chevron {
    background-color: @cf-white;
    .border-radius(8px);
    overflow: hidden;
    margin: 0 0 30px;
    padding: 0;
    .cf-panel-chevron-content {
        padding: 0px 40px 50px;
        color: @cf-chevron-text;
    }
    .cf-panel-chevron-content-sub-header {
        margin: 0 0 40px;
        display: table;
    }
    p {
        margin: 0 0 50px;
        font-size: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .cf-panel-chevron-content-img {
        display: table-cell;
        padding: 0 40px 0 0;
        vertical-align: top;
        width: 35%;
    }
    .cf-panel-chevron-content-title {
        display: table-cell;
        vertical-align: middle;
        line-height: 1.25;
        margin-top: 0;
        color: @cf-chevron-text;
        font-family: @font-primary-extra-bold;
        font-size: 31px;
        padding: 10px 5% 10px 0;
        width: 65%;
        vertical-align: middle;
    }
    .generate-chevron( @cf-chevron-title-font-size, @cf-chevron-title-line-height, @cf-chevron-title-padding-top, @cf-chevron-title-padding-right, @cf-chevron-title-padding-left, @cf-chevron-figure-bg);
}



// Colors
.cf-panel-chevron {
    &.cf-bg-brand-primary {
        .cf-panel-chevron-title {
             background-color: @cf-primary-action;
        }
        .cf-panel-chevron-figure {
            color: @cf-primary-action;
        }
    }
}


// = Medium devices/desktops:
// ********************************************/
@media screen and (max-width: @screen-md-max) {
    .cf-panel-chevron {
        margin: 0 0 15px 0;
        .cf-panel-chevron-content-title {
            font-size: 24px;
        }
        .cf-panel-chevron-content {
            padding: 0px 15px 50px;
        }

        .cf-panel-chevron-content-img {
            margin: 0;
            padding-right: 20px;
        }
        .cf-panel-chevron-content-title {
            max-width: none;
        }
        p {
            margin: 0 0 30px;
        }
        .generate-chevron( 20px, 20px, 10px, 15px, 10px, @cf-chevron-figure-bg);
    }
}


// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .cf-panel-chevron {
        .generate-chevron( 18px, 18px, 6px, 15px, 10px, @cf-chevron-figure-bg);
    }
}