/**********************
    NG-DIALOG POPUP
**********************/

.ngdialog {
    &.cf-modal-popup {
        .ngdialog-content {
            border-top: 4px solid @cf-primary-color;
            border-bottom: 4px solid @cf-primary-color;
            box-sizing: border-box;
            background-color: @cf-white;
            min-width: 600px;
            max-width: 900px;
            max-height: 100%;
            overflow: auto;
            top: 60px;
            z-index: 1;
            position: relative;
            margin: 0 auto;
            padding: 50px;
            .cf-modal-content {
                max-height: 23vh;
                overflow-y: auto;
                margin: 10px 0;
                min-height: 185px;
                &.cf-border-content {
                    padding: 10px 10px 20px;
                    border: 1px solid @cf-mid-grey;
                }
            }
            .ngdialog-message {
                .ngdialog-header {
                    text-align: center;
                    margin: 0 0 30px 0;
                }
                .ngdialog-body {
                    p {
                        &:last-child {
                            margin: 0;
                            margin-bottom: 15px;
                        }
                    }
                }
                .ngdialog-footer {
                    padding: 20px 0 0 0;
                    text-align: center!important;
                }
            }
            .ngdialog-close {
                display: none;
                position: absolute;
                right: -20px;
                top: -20px;
                background-color: @cf-white;
                padding: 25px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                color: @cf-primary-color;
                opacity: 1;
                width: 48px;
                height: 48px;
                border: 4px solid @cf-white;
                border-radius: 50%;
                background-image: url("../img/icons/CF_close.svg");
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: center center;
                &:before{
                    content: '';
                }
                &:hover, &:focus{
                    cursor: pointer;
                    border: 4px solid @cf-primary-color;
                }
            }
        }
        .cf-content-wrapper {
            max-height: 70vh;
            overflow: auto;
            padding-right: 40px;
            .cf-progress-coutdown {
                position: relative;
            }
            .cf-progress-coutdown-content {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 1;
                line-height: 1.2;
                text-align: center;
            }
            .progress-bar {
                span {
                    color: #fff;
                }
            }
            .ngdialog-body {
                p {
                    font-family: @font-primary;
                }
            }
        }
    }

    & + .select2-container {
        z-index: 10000;
    }
}


// = Small devices/Tablets
// ********************************************/
@media screen and (max-width: @screen-sm-max) {
    .ngdialog {
        &.cf-modal-popup {
            .ngdialog-content {
                padding: 30px;
                min-width: 450px;
                max-width: 750px;
            }
        }
        &.cf-modal-popup {
            .ngdialog-content {
                .cf-modal-content {
                    max-height: 200px;
                    padding: 10px 5px 10px;
                }
            }
        }
    }
}


// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .ngdialog {
        &.cf-modal-popup {
            .ngdialog-content {
                padding: 30px;
                min-width: 100%;
                max-width: 100%;
                top: 0;
                .ngdialog-close {
                    right: -5px;
                    top: -10px;
                    background-color: transparent;
                    border: none;
                    &:hover, &:focus{
                        border: none;
                    }
                }
            }
            &.cf-modal-popup-auth .ngdialog-content .cf-content-wrapper .ngdialog-footer .cf-form-line {
                margin-bottom: 15px;
            }
        }
    }
}


@media screen and (min-width: @screen-lg-min) {
    .ngdialog {
        &.cf-modal-popup {
            display: flex;
            align-items: center;
            justify-content: center;
            .ngdialog-content {
                top: 0;
            }
        }
    }
}