html.ngdialog-open,
body.ngdialog-open {
    overflow: visible;
}
// Defaults state
.cf-modal-new {
    &.ngdialog {
        position: fixed;
        left: @cf-nav-width;
        width: auto;
        height: auto;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;

        .ngdialog-content {
            top: 33%;
            visibility: hidden;
            opacity: 0;
            .transform(translate(0, 100%));
            .transition(all 0.3s @cf-transition-timing-function);

            .cf-content-wrapper {
                height: 100%;

                .cf-modal-title {
                    font-family: @font-primary-bold;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                .cf-modal-content {
                    height: 100%;
                    overflow-y: auto;

                    h3, h4 {
                        font-family: @font-primary;
                    }
                    h3 {
                        font-size: 18px;
                    }
                    h4 {
                        font-size: 16px;
                    }
                    .cf-btn-new {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    .cf-table {
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
    }
}
body {
    // Open sidebar navigation
    &.cf-dashboard-nav-open {
        .cf-modal-new {
            &.ngdialog {
                left: @cf-nav-open-width;
            }
        }
    }
    // Open state
    &.ngdialog-open {
        .cf-modal-new {
            &.ngdialog {
                .ngdialog-overlay {
                    background: rgba(197, 197, 197, 0.3);
                }
                .ngdialog-content {
                    position: absolute;
                    width: 100%;
                    height: 67%;
                    padding: 15px 15px 50px;
                    overflow: visible;

                    &.opening {
                        .transform(translate(0, 0));
                        .animation(none);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .ngdialog-close {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    padding: 10px;
                    font-size: 32px;
                    display: inline-block;
                    z-index: 1;
                    line-height: 1;

                    &:hover {
                        opacity: 0.8;
                    }
                    &:before {
                        font-family: Helvetica, Arial, sans-serif;
                        content: '\00D7';
                        cursor: pointer
                    }
                }
                &.ngdialog-closing {
                    .ngdialog-content {
                        .animation(none);
                        .transform(translate(0, 100%));
                    }
                }
            }
        }
    }
    .ngdialog.cf-modal-regular {
        .ngdialog-content {
            .border-radius(5px);
            .transform(translate(-50%, -50%));
            border: 1px solid #4edc51;
            left: 50%;
            position: absolute;
            top: 50%;
            max-width: 550px;
            padding: 40px;

            .cf-modal-content {
                .content {
                    font-family: @font-primary;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                .btn {
                    margin-bottom: 0;

                    & + .btn {
                        margin-left: 30px
                    }
                }
            }
        }
    }
}
// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width:@screen-xs-max) {
    .cf-modal-new {
        &.ngdialog {
            left: 0;
        }
    }
    body {
        // Open sidebar navigation
        &.cf-dashboard-nav-open {
            .cf-modal-new {
                &.ngdialog {
                    left: 0;
                    .cf-panel {
                        .cf-btn-remove-item {
                            float: right;
                        }
                    }
                }
            }
        }
        .ngdialog.cf-modal-regular {
            .ngdialog-content {
                .transform(translateY(-50%));
                left: 0;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}