.cf-table {
    font-family: @font-primary;
    color: @cf-default-text;
    table{
        width: 100%;
    }
    /** heading **/
    thead {
        tr {
            th {
                h5 {
                    font-size: 18px;
                }
                position: relative;
                padding: 5px;
                color: @cf-default-text;
                font-size: 16px;
                font-weight: normal;
                text-align: center;
                border-bottom: 1px solid @cf-light-grey-1;
            }
            &.text-left {
                th {
                    text-align: left;
                }
            }
        }
    }
    /** body **/
    tbody {
        tr {
            td {
                border-top: none;
                font-family: @font-primary-light;
                a{
                    font: inherit;
                }
            }
        }
    }
    &.cf-bordered-column {
        table {
            border: 1px solid @cf-light-grey-2;
            thead {
                tr {
                    th {
                        border-right: 1px solid @cf-light-grey-2;
                        border-bottom: 1px solid @cf-light-grey-2;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 5px 5px 0 5px;
                        border-right: 1px solid @cf-light-grey-2;
                        border-bottom: 1px solid @cf-light-grey-2;
                        &:last-child {
                            border-right: none;
                        }
                        .form-group {
                            margin: 0;
                        }
                    }
                }
            }
        }

    }

    &.cf-table-responsive {
        table {
            width: 100%;
        }
    }
}

// = Small devices/Tablets
// ********************************************/
@media screen and (max-width: @screen-sm-max) {
    .cf-table {
        overflow: auto;
        table  {
            min-width: 250px;
        }
    }
}