.cf-nav-tabs {
    margin: 0;
    padding: 0;
    display: block;
    overflow-y: hidden;
    border-bottom: 1px solid @cf-mid-grey;
    li {
        display: inline-block;
        padding: 0;
        font-size: 14px;
        margin:0 0.5% 0 0;
        background-color: @cf-light-grey;
        border: 1px solid @cf-mid-grey;
        border-bottom: 0px;
        a {
            color: @cf-black;
            padding: 10px;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
        }
        &.active {
            background-color: @cf-blue;
            a {
                color: @cf-white;
                cursor: default;
                text-decoration: none;
            }
        }
    }
}

.cf-tab-item {
    padding: 30px 0 0 0;
    &.border-bottom {
        border-bottom: 1px solid @cf-light-grey-02;
    }
}

@media screen and (max-width: 1260px) {
    .cf-nav-tabs {
        li {
            font-size: 12.5px;
        }
    }
}

// = Small devices/Tablets
// ********************************************/
@media screen and (max-width: @screen-sm-max) {
    .cf-nav-tabs {
        li {
            font-size: 14px;
            width: 50%;
            display: block;
            float: left;
            margin: 0;
            border: 1px solid @cf-white;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
    }
}

// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .cf-nav-tabs {
        margin-top: 20px;
        li {
            width: 100%;
            display: block;
            float: none;
            margin: 0;
            border: 1px solid @cf-white;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }
    }
}