body .ngdialog.cf-modal-regular.cf-tooltip-modal {
  z-index: 1112;
  .ngdialog-content {
    padding: 20px;
    max-width: 650px;
    max-height: 100vh;
    overflow-y: auto;
    .ngdialog-close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px;
      color: @cf-blue;
    }
    &.cf-sticky {
      .ngdialog-body {
        overflow-y: auto;
      }
    }
  }
  .cf-modal-content {
    .content {
      margin-bottom: 0;
      padding: 0 25px;
      position: relative;
      .cf-tooltip-icon {
        position: absolute;
        left: -8px;
        top: 0;
      }
      h2 {
        color: @cf-default-text;
      }
      p {
        font-size: 15px;
        strong {
          font-family: @font-primary-bold;
          font-size: 16px;
        }
      }
      ul li {
        color: @cf-default-text;
        font-size: 15px;
      }
    }
  }
}