body {
  font-size: 16px;
  font-family: @font-primary;
  color: @cf-text;
}

body {
  *,
  a,
  button,
  .cf-btn.active,
  .cf-btn,
  input {
    &:focus,
    &:active,
    &:active:focus {
      outline: 0;
    }
  }

}

/* = HEADINGS */

h1 {
  font-size: 32px;
  font-weight: 500;
  color: @cf-dark-grey;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  color: @cf-dark-grey;
  margin-top: 0;
}

h3 {
  // font-size: 24px;
  font-size: 1.1rem; /* 18pt */
  font-weight: 300;
  color: @cf-dark-grey;
  padding: 20px 0 10px 0;
  margin-top: 0;
}

h4 {
  font-size: 1rem; /* 18pt */
  font-weight: 500;
  color: @cf-dark-grey;
  & > b {
    font-size: 0.9rem; /* 18pt */
    font-weight: 500;
  }
}

ul,
ul li,
ol,
ol li,
dl,
dl dt {
  color: @cf-dark-grey;
  font-size: 16px;
}

a,
.cf-hyperlink {
  font-size: inherit;
  color: @cf-primary-color;
  .transition(color @cf-transition-time @cf-transition-timing-function);
  &:hover {
    text-decoration: underline;
    color: @cf-text;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.cf-hyperlink-action {
    color: @cf-primary-action;
    &:hover {
        color: darken(@cf-primary-action, 10%);
    }
}

.no-margins {
  margin: 0;
}

/* = ELEMENTS */

.cf-field-label {
  font-weight: 500;
  line-height: 27px;
  color: @cf-text;
  float: left;
  margin-right: 15px;
  font-size: 16px;
  text-transform: capitalize;
}

.cf-field-placeholder {
  font-weight: 300;
  line-height: 27px;
  color: @cf-light-grey;
}

.cf-body-copy {
  font-weight: 300;
  line-height: 26px;
  color: @cf-text;
}

.cf-body-copy-bold {
  .cf-body-copy;
  font-weight: 800;
}

.cf-subtext {
  font-weight: 500;
  line-height: 30px;
  color: @cf-light-grey;
}

.cf-navigation {
  font-weight: 300;
  color: @cf-text;
}

.cf-navigation-selected {
  font-weight: 500;
  color: @cf-orange;
}

.cf-subtitle {
  font-weight: 500;
  line-height: 30px;
  color: @cf-text;
}

.cf-popup-link {
  outline: none;
  font-weight: 300;
  line-height: 26px;
  display: inline-block;
  color: @cf-primary-color;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
    color: @cf-primary-color;
  }
  &:after {
    display: inline-block;
    width: 16px;
    position: relative;
    top: 3px;
    left: 5px;
    background-size: 60%;
    height: 14px;
    content: ' ';
  }
}

.cf-popup-text {
  font-weight: 300;
  line-height: 26px;
  color: @cf-white;
}

.cf-nowrap {
  white-space: nowrap;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: @cf-white;
  background-color: transparent;
  border-color: @cf-orange;
}

/* = TEXTS */

.cf-text-white {
  color: @cf-white;
}

.cf-font-light {
  font-weight: 300;
}

.cf-text-primary {
  color: @cf-primary-color;
}

.cf-text-brand-primary {
  color: @cf-orange;
}

.cf-text-primary-green {
  color: @cf-primary-color;
}

.cf-text-accent-magenta {
  color: @cf-magenta;
}

.cf-text-hyperlink-blue {
  color: @cf-blue;
}

.cf-text-default {
  color: @cf-text;
}

.cf-text-medium-grey-1 {
  color: @cf-light-grey;
}

.cf-text-medium-grey-2 {
  color: @cf-light-grey;
}

.cf-text-light-grey-1 {
  color: @cf-light-grey-02;
}

.cf-text-light-grey-2 {
  color: @cf-lighter-grey;
}

.cf-text-smooth-red {
  color: @cf-smooth-red;
}

.cf-text-magenta {
  color: @cf-accent-magenta;
}

.cf-text-magenta-light {
  color: @cf-accent-magenta-xlight;
}

.cf-text-uppercase {
  text-transform: uppercase;
}

.cf-text-capitalize {
  text-transform: capitalize;
}

/* = BACKGROUNDS */

.cf-bg-white {
  background-color: @cf-white;
}

.cf-bg-brand-primary {
  background-color: @cf-primary-color;
}

.cf-bg-primary-green {
  background-color: @cf-primary-color;
}

.cf-bg-accent-magenta {
  background-color: @cf-magenta;
}

.cf-bg-hyperlink-blue {
  background-color: @cf-blue;
}

.cf-bg-default-text {
  background-color: @cf-text;
}

.cf-bg-medium-grey-1 {
  background-color: @cf-light-grey;
}

.cf-bg-medium-grey-2 {
  background-color: @cf-light-grey;
}

.cf-bg-light-grey-1 {
  background-color: @cf-light-grey-02;
}

.cf-bg-light-grey-2 {
  background-color: @cf-lighter-grey;
}

.cf-text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cf-field-label-xs {
  line-height: 21px;
  float: none;
  top: -2px;
  position: relative;
}

.cf-field-placeholder-xs {
  line-height: 21px;
}

.cf-body-copy-xs {
  line-height: 21px;
}

.cf-hyperlink-xs {
  line-height: 21px;
}

.cf-subtext-xs {
  line-height: 23px;
}

.cf-navigation-xs {
  line-height: 23px;
}

.cf-navigation-selected-xs {
  line-height: 20px;
}

.cf-subtitle-xs {
  line-height: 23px;
}

.cf-popup-link-xs {
  line-height: 21px;
  background-position: 114px 2px;
}

.cf-popup-text-xs {
  line-height: 21px;
}

.cf-field-label-md {
  line-height: 25px;
}

.cf-field-placeholder-md {
  line-height: 25px;
}

.cf-hyperlink-md {
  line-height: 23px;
}

.cf-subtext-md {
  line-height: 26px;
}

.cf-subtitle-md {
  line-height: 26px;
}

.cf-popup-link-md {
  line-height: 23px;
  background-position: 128px 3px;
}

.cf-popup-text-md {
  line-height: 23px;
}

.cf-help-text {
  font-size: 85%;
  padding: 5px 15px;
  font-style: italic;
  opacity: 0.7;
  text-transform: capitalize;
}

.cf-wrap-word {
  word-wrap: break-word;
}

.cf-text-bold {
  font-weight: bold;
}

