.cf-hide {
    .hide;
}

.cf-invisible {
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.cf-no-float {
    float: none!important;
}

.cf-divider-left {
    &:before {
        content: '|';
        display: inline-block;
        margin: 0px 15px;
        font-size: 120%;
        vertical-align: middle;
        opacity: 0.4;
        font-weight: 300;
    }
}

.cf-divider-right {
    &:after {
        content: '|';
        display: inline-block;
        margin: 0px 15px;
        font-size: 120%;
        vertical-align: middle;
        opacity: 0.4;
        font-weight: 300;
    }
}

.cf-message {
    margin: 10px 0 20px;
}

.cf-separator {
    height: 30px;
}


.cf-box-shadow {
    .box-shadow(0 6px 12px rgba(0, 0, 0, 0.176));
}


// Text aligned responsive
.text-left-lg { text-align: left; }
.text-right-lg { text-align: right; }
.text-center-lg { text-align: center; }
.text-justify-lg { text-align: justify; }

// = Medium devices/desktops:
// ********************************************/
@media screen and (max-width: @screen-md-max) {
    .text-left-md { text-align: left; }
    .text-right-md { text-align: right; }
    .text-center-md { text-align: center; }
    .text-justify-md { text-align: justify; }
}

// = Small devices/Tablets
// ********************************************/
@media screen and (max-width: @screen-sm-max) {
    .text-left-sm { text-align: left; }
    .text-right-sm { text-align: right; }
    .text-center-sm { text-align: center; }
    .text-justify-sm { text-align: justify; }
}

// = Extra small devices/phones:
// ********************************************/
@media screen and (max-width: @screen-xs-max) {
    .text-left-xs { text-align: left; }
    .text-right-xs { text-align: right; }
    .text-center-xs { text-align: center; }
    .text-justify-xs { text-align: justify; }
}

.cf-clear {
    .clearfix;
}


// margin mixin
.marginMixin (@i, @step, @orientation, @orientation_name) when (@i >= 0) {
  @name: @i*@step;
  .marg_@{orientation_name}@{name} {
    margin-@{orientation}: @i*@step*1px !important;
  }
  .marginMixin(@i - 1, @step, @orientation, @orientation_name);
}

// Margin top
.marginMixin(10, 10, top, t);
// Margin bottom
.marginMixin(10, 10, bottom, b);



/******************
    BORDERS
******************/
.cf-noborder {
    border: none;
}

/******************
    BACKROUNDS
******************/
.cf-bg-magenta {
    background-color: @cf-magenta;
}
.cf-bg-orange {
    background-color: @cf-orange;
}
.cf-bg-blue {
    background-color: @cf-blue;
}

/******************
    TEXT COLORS
******************/
.cf-text-magenta {
    color: @cf-magenta;
}
.cf-text-error-red {
    color: @cf-error-red;
}
.cf-text-orange {
    color: @cf-orange;
}
.cf-text-blue {
    color: @cf-blue;
}
.cf-text-grey {
    color: @cf-grey;
}
.cf-text-green {
    color: @cf-green;
}

.box-size-0 {
    margin: 0;
    padding: 0;
}

.cf-full-width {
    width: 100% !important;
    display: block;
}